In [8]:
import pandas as pd
import matplotlib.pyplot as plt
pd.read_csv("/content/ml.csv")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,374.0,845,330,1.5603,78100,INLAND
20636,-121.21,39.49,18,697,150.0,356,114,2.5568,77100,INLAND
20637,-121.22,39.43,17,2254,485.0,1007,433,1.7000,92300,INLAND
20638,-121.32,39.43,18,1860,409.0,741,349,1.8672,84700,INLAND
20639,-121.24,39.37,16,2785,616.0,1387,530,2.3886,89400,INLAND

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
a=pd.read_csv("/content/ml.csv")
print(a.describe())

          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [17]:
import pandas as pd
import matplotlib.pyplot as plt
a=pd.read_csv("/content/ml.csv")
print(a.dtypes)

longitude             float64
latitude              float64
housing_median_age      int64
total_rooms             int64
total_bedrooms        float64
population              int64
households              int64
median_income         float64
median_house_value      int64
ocean_proximity        object
dtype: object

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
a=pd.read_csv("/content/ml.csv")
print(a.shape)

(20640, 10)

In [31]:
import pandas as pd
import matplotlib.pyplot as plt
a=pd.read_csv("/content/ml.csv")
null_values = a.isnull().sum()
print(null_values)

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [35]:
import pandas as pd
import matplotlib.pyplot as plt
a=pd.read_csv("/content/ml.csv")
print(data.columns)
features = a.drop(columns=['population'])
target = a['population']
print(features.head())
print(target.head())

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                  41          880           129.0
1    -122.22     37.86                  21         7099          1106.0
2    -122.24     37.85                  52         1467           190.0
3    -122.25     37.85                  52         1274           235.0
4    -122.25     37.85                  52         1627           280.0

   households  median_income  median_house_value ocean_proximity
0         126         8.3252              452600        NEAR BAY
1        1138         8.3014              358500        NEAR BAY
2         177         7.2574              352100        NEAR BAY
3         219         5.6431              341300        NEAR BAY
4         259         3.8462              342200        NEAR BAY
0     322
1    2401
2     496
3     558
4     565
Name: population, dtype: int64

In [46]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
a=pd.read_csv("/content/ml.csv")
features = data.drop(columns=['population'])
target = data['population']
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)
print( X_train.shape, y_train.shape)
print( X_test.shape, y_test.shape)

(16512, 9) (16512,)
(4128, 9) (4128,)

In [50]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
a=pd.read_csv("/content/ml.csv")
features = data.drop(columns=['population'])
target = data['population']
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)
print( X_train.shape, y_train.shape)
print( X_test.shape, y_test.shape)

(16512, 9) (16512,)
(4128, 9) (4128,)

In [49]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
a = pd.read_csv("/content/ml.csv")
numerical_features = a.select_dtypes(include=['int64', 'float64']).columns
categorical_features = a.select_dtypes(include=['object']).columns
numerical_data = a[numerical_features]
categorical_data = a[categorical_features]
scaler = MinMaxScaler()
numerical_scaled = scaler.fit_transform(numerical_data)
numerical_scaled_df = pd.DataFrame(numerical_scaled, columns=numerical_data.columns)
scaled_a = pd.concat([numerical_scaled_df, categorical_data], axis=1)
print(scaled_a.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0   0.211155  0.567481            0.784314     0.022331        0.019863
1   0.212151  0.565356            0.392157     0.180503        0.171477
2   0.210159  0.564293            1.000000     0.037260        0.029330
3   0.209163  0.564293            1.000000     0.032352        0.036313
4   0.209163  0.564293            1.000000     0.041330        0.043296

   population  households  median_income  median_house_value ocean_proximity
0    0.008941    0.020556       0.539668            0.902266        NEAR BAY
1    0.067210    0.186976       0.538027            0.708247        NEAR BAY
2    0.013818    0.028943       0.466028            0.695051        NEAR BAY
3    0.015555    0.035849       0.354699            0.672783        NEAR BAY
4    0.015752    0.042427       0.230776            0.674638        NEAR BAY